<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="boardVO" type="com.koreait.hanGyeDolpa.bean.BoardVO"></typeAlias>
		<typeAlias alias="userVO" type="com.koreait.hanGyeDolpa.bean.UserVO"></typeAlias>
		<typeAlias alias="commentVO" type="com.koreait.hanGyeDolpa.bean.CommentVO"></typeAlias>
		<typeAlias alias="attachFileVO" type="com.koreait.hanGyeDolpa.bean.AttachFileVO"></typeAlias>
		<!--  
		<typeAlias alias="attachFileVO" type="com.koreait.hanGyeDolpa.board.bean.AttachFileVO"></typeAlias>
		-->
	</typeAliases>
</configuration>