<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>글 작성</title>
		
		<!-- 파비콘 설정 -->
	    <link rel="icon" href="/img/logo.png" type="image/png">
	    <link rel="stylesheet" href="/css/board.css">
	    <link rel="stylesheet" href="/css/fonts.css">
	</head>
	
	<body>
	   	<div class = "register-container">
		<h1>글 등록 페이지</h1>
		<hr>
		<form id="registForm" action="/board/user/register" method="post">
			<p><input type="text" name="title" placeholder="제목을 작성해주세요."><p>
			<p><textarea name="content" placeholder="내용을 작성해주세요."></textarea><p>
			<input type="hidden" name="userId" id="userIdInputTag">
			
			<div class="uploadDiv">
				<input type="file" name="uploadFile" multiple style="width: 200px;">
			</div>
			<div class="uploadResult">
				<ul>
				</ul>
			</div>
			<input type="submit" value="Register">
		</form>
		</div>

	</body>
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script>
		$("input[type='file']").change(function(e){
			let inputFile = $("input[name='uploadFile']");
			let files = inputFile[0].files;
			console.log(files);
			
			// FromData를 이용하여 전송 데이터 생성
			let formData = new FormData();
			
			for(let i=0; i<files.length; i++){
				if(checkFile(files[i].name, files[i].size) == false){
					return;
				}
				
				// formData에 추가
				formData.append("uploadFile", files[i]);
			}
			
			console.log(formData);
			
			$.ajax({
				url: "/upload/uploadAjaxAction",
				processData: false,
				contentType: false,
				data: formData,
				type: "POST",
				success: function(result){
					alert("파일 업로드 완료");
					console.log(result);
					inputFile.val("");
					showUploadFile(result);
				},
				error: function(error){
					console.log("오류오류오류")
					console.log(error);
				}
			});
			
		});
		
		function checkFile(fileName, fileSize){
			let MAXSIZE = 12000000;
			
			// 파일 체크 : true(업로드 가능), false(업로드 불가능)
			if(fileSize > MAXSIZE){
				alert("파일 사이즈를 줄여주세요.");
				return false;
			}
			
			// File Extension Check
			let RULE = new RegExp("(.*?)\.(exe|sh|zip|alz|pdf)$");
			if(RULE.test(fileName)){
				alert("파일 형식을 확인해주세요.")
				return false;
			}
			
			return true;
		}
		
		function showUploadFile(fileArray){
			let uploadResult = $(".uploadResult ul");
			
			let str = "";
			
			$(fileArray).each(function(i,obj){
				str += "<li data-path='" + obj.uploadPath + "' ";
				str += "    data-uuid='" + obj.uuid + "' ";
				str += "    data-filename='" + obj.fileName + "' ";
				str += "    data-type='" + obj.image + "' ";
				str += "    data-video='" + obj.vid + "' ";
				
				str += ">";
				if(obj.image) str += "<image src='/img/attach.jpeg' width='16px'> "
				str += obj.fileName.substring(obj.fileName.indexOf("_")+1);			
				str += "</li>";
			});
			
			console.log("showUploadFile함수 실행");
			uploadResult.append(str);
		}
	
		$("input[type='submit']").on("click", function(e){
			e.preventDefault();
			console.log("전송 못함;;")
			
			let form = $("form#registForm");
			let str = "";
			
			$(".uploadResult ul li").each(function(i, obj){
				// $(obj).data("filename") => obj의 속성 중 data-filename을 가져옴
				console.log($(obj).data("filename"));
				
				let fileName = $(obj).data("filename");
				let uuid = $(obj).data("uuid");
				let uploadPath = $(obj).data("path");
				let image = $(obj).data("type");
				let video = $(obj).data("video");
				
				str += "<input type='hidden' name='attachFile[" + i + "].fileName' ";
				str += "value='" + fileName + "'> ";
				str += "<input type='hidden' name='attachFile[" + i + "].uuid' ";
				str += "value='" + uuid + "'> ";
				str += "<input type='hidden' name='attachFile[" + i + "].uploadPath' ";
				str += "value='" + uploadPath + "'> ";
				str += "<input type='hidden' name='attachFile[" + i + "].image' ";
				str += "value='" + image + "'> ";
				str += "<input type='hidden' name='attachFile[" + i + "].vid' ";
				str += "value='" + video + "'> ";
				
			});
			
			console.log(str);
			form.append(str);
			form.submit();
		});
	
	setSessionStorage();
	
	//============================= 사용자 데이터 설정
	function setSessionStorage(){
		// 세션 전역변수 -> HttpSession(서버) 에서 SessionStorage(클라이언트)로 데이터 저장
		const query = `/api/setSessionStorage`;
		fetch(query)
		    .then(response => response.text())
		    .then(data => {
		        console.log(data);
		        const userIdInputTag = document.getElementById("userIdInputTag");
	            userIdInputTag.value = data;
		    })
		    .catch(error => console.error("Error:", error));
	}
	
	</script>
</html>