<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>한계돌파</title>
	    
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/fonts.css">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	
	<body>
		<div id="header"></div>
		<div id="service" class="col-md-12">	
		    <div class="banner">
	        	<a href="eventPage" id=""><img id="myCanvas" width="1180px" height="440px"></a>
	    	</div>
	    	
	    	<form id="mainPageBTN-Form" action="https://place.map.kakao.com/807578478">
	    		<button class="btn" id="mainPageBTN-BTN">!수란's PICK!</button>
	    	</form>
	    	
	    	<table id="unKnownThings">
	    		<thead>
	    			<tr>
	    				<th>더클라임 강남점</th>
	    				<th>손상원클라이밍짐 강남점</th>
	    				<th>클라이밍파크 강남점</th>
	    				<th>클라임이모션 강남점</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr>
    					<td><a href="https://place.map.kakao.com/807578478"><img id="unKnownThings-IMG" src="/img/place01.png"/></a></td>
    					<td><a href="https://place.map.kakao.com/2029401912"><img id="unKnownThings-IMG" src="/img/place02.png"/></a></td>
    					<td><a href="https://place.map.kakao.com/2029901090"><img id="unKnownThings-IMG" src="/img/place03.png"/></a></td>
    					<td><a href="https://place.map.kakao.com/24126603"><img id="unKnownThings-IMG" src="/img/place04.png"/></a></td>
	    			</tr>
	    		</tbody>
	    	</table>
		</div>
		<div id="footer"></div>
	</body>
	
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script th:inline="javascript">
	
		$(function(){
			$("#header").load("../header.html");
			$("#footer").load("../footer.html");
		});
		
		const img = document.getElementById("myCanvas");
		const eventATag = document.getElementById("eventATag");
		
		var pics = new Array();
		pics.push("../img/banner01.png");
		pics.push("../img/banner02.png");
		pics.push("../img/banner03.png");

		var count = 0;

		img.src = pics[count % pics.length];
		
		setInterval(function () {
		    count++;
		    img.src = pics[count % pics.length];
		}, 2000);

	</script>
</html>