<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.hanGyeDolpa.mapper.UserMapper">

    <insert id="insertUser">
        INSERT INTO USER_TABLE (USER_NO, AUTH_ID, USER_NAME, USER_IMG)
        SELECT NEXTVAL(USER_NO_seq), #{authID}, #{userName}, #{userProfilePath}
        FROM DUAL
    </insert>
    
    <select id="getUserNo" resultType="Long">
    	SELECT USER_NO
    	FROM USER_TABLE
    	WHERE AUTH_ID = #{authID}
    </select>
	
	<select id="getUserData" resultType="userVO">
	    SELECT USER_NO AS userNo, AUTH_ID AS authID, USER_NAME AS userName, USER_IMG AS userProfilePath
	    FROM USER_TABLE
	    WHERE USER_NO = #{userNo}
	</select>

	<select id="checkDupData" resultType="Boolean">
	    SELECT AUTH_ID
	    FROM USER_TABLE
	    WHERE AUTH_ID = #{authID}
	</select>
	
	<select id="getUserDataAll" resultType="userVO">
	    SELECT USER_NO AS userNo, AUTH_ID AS authID, USER_NAME AS userName, USER_IMG AS userProfilePath
	    FROM USER_TABLE
	    WHERE AUTH_ID = #{authID}
   	</select>
   	
   	<select id="getUserDataAllByNo" resultType="userVO">
    	SELECT USER_NO AS userNo, AUTH_ID AS authID, USER_NAME AS userName, USER_IMG AS userProfilePath
	    FROM USER_TABLE
	    WHERE USER_NO = #{userNo}
   	</select>
   	
   	<update id="updateUserData">
   		UPDATE USER_TABLE
   		SET USER_NAME = #{userName},
   			USER_IMG = #{userProfilePath}
		WHERE AUTH_ID = #{authId}
   	</update>
	
</mapper>